<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=DESKTOP-1E62B0U\SQLEXPRESS,56385;Integrated Security=True;Trust Server Certificate=True"
   providerName="System.Data.SqlClient" />
  <add name="Hospital_Management_System.Properties.Settings.ConnectionString"
   connectionString="Data Source=DESKTOP-1E62B0U\SQLEXPRESS,56385;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>
